<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FacturacionElectronicaSoap11" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="FacturacionElectronicaSoap111" maxReceivedMessageSize="2147483647"/>
                <binding name="ConsultasSoap11"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.19.0.40:8080/efactura-py/ws/FacturacionElectronica" binding="basicHttpBinding" bindingConfiguration="FacturacionElectronicaSoap11" contract="service.FacturacionElectronica" name="FacturacionElectronicaSoap11"/>
            <endpoint address="http://172.19.0.242:8080/efactura-py/ws/FacturacionElectronica" binding="basicHttpBinding" bindingConfiguration="FacturacionElectronicaSoap111" contract="servicio.FacturacionElectronica" name="FacturacionElectronicaSoap111"/>
            <endpoint address="http://172.19.0.242:8080/efactura-py/ws/Consultas" binding="basicHttpBinding" bindingConfiguration="ConsultasSoap11" contract="consultas.Consultas" name="ConsultasSoap11"/>
        </client>
    </system.serviceModel>
</configuration>
